 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 999px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 110px auto 0;
}

.u-section-1 .u-image-1 {
  width: 386px;
  height: 386px;
  background-image: url("images/IMG_1775.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 2px 8px 40px rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 570px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  line-height: 1.8;
  width: 739px;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 212px;
  min-width: 110px;
  margin: 31px auto 60px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 583px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 463px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 463px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2em;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 382px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 683px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  width: 795px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 700;
  width: 795px;
  margin: 50px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 34px 229px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    height: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-top: 36px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 36px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1021px;
}

.u-section-4 .u-gallery-1 {
  height: 745px;
  grid-gap: 17px 17px;
  margin: 60px auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 69.54%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-4 .u-back-slide-2 {
  background-image: none;
}

.u-section-4 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-4 .u-back-image-4 {
  object-position: 50% 23.42%;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-4 .u-gallery-1 {
    height: 614px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1881px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1687px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1411px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-4 .u-gallery-1 {
    height: 888px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 751px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 198px;
  height: 198px;
  background-image: url("images/CAP_23361.jpg");
  background-position: 50% 50%;
  margin: 39px auto 0 471px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 36px 479px 0;
}

.u-section-5 .u-text-3 {
  margin: 23px 431px 0;
}

.u-section-5 .u-line-1 {
  width: 198px;
  height: 10px;
  transform-origin: left center;
  margin: 30px auto 0 471px;
}

.u-section-5 .u-text-4 {
  margin: 30px 431px -35px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: 182px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: 278px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-line-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    width: 278px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-5 .u-text-4 {
    margin-bottom: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    margin-bottom: 30px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 593px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 873px;
  margin: 60px auto;
}

.u-section-6 .u-image-1 {
  min-height: 445px;
  background-image: url("images/pexels-photo-2981630.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 445px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-form-1 {
  height: 218px;
  margin: 0;
}

.u-section-6 .u-form-group-1 {
  margin-left: auto;
}

.u-section-6 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-6 .u-form-group-2 {
  margin-left: auto;
}

.u-section-6 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-6 .u-form-group-3 {
  margin-left: auto;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 367px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-6 .u-image-1 {
    min-height: 459px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 289px;
  }
}